## 6.1.2 서울열린데이터광장의 OPEN API를 활용한 공공데이터 수집

In [1]:
# 예제 6-13  라이브러리 임포트
import requests
import pandas as pd

In [2]:
# 예제 6-14  자주 사용하는 변수를 미리 선언
# 등록된 서울열린데이터광장 API 호출 키를 변수에 입력해주세요
SEOUL_API_AUTH_KEY = '76744d4651726f6c3132376e6*******'

In [3]:
# 예제 6-15 API 호출을 위한 URL 변수 선언
url = 'http://openapi.seoul.go.kr:8088/{}/json/SdeTlSccoSigW/1/25'.format(SEOUL_API_AUTH_KEY)
print(url)

http://openapi.seoul.go.kr:8088/76744d4651726f6c3132376e6*******/json/SdeTlSccoSigW/1/25

In [4]:
# 예제 6-16 서울열린데이터광장 OPEN API 호출
result_dict = requests.get(url).json()
result_dict

{'SdeTlSccoSigW': {'list_total_count': 25,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'OBJECTID': 1.0,
    'SIG_CD': '11320',
    'SIG_KOR_NM': '도봉구',
    'SIG_ENG_NM': 'Dobong-gu',
    'ESRI_PK': 0.0,
    'LAT': '37.6658609',
    'LNG': '127.0317674'},
   {'OBJECTID': 2.0,
    'SIG_CD': '11380',
    'SIG_KOR_NM': '은평구',
    'SIG_ENG_NM': 'Eunpyeong-gu',
    'ESRI_PK': 1.0,
    'LAT': '37.6176125',
    'LNG': '126.9227004'},
   {'OBJECTID': 3.0,
    'SIG_CD': '11230',
    'SIG_KOR_NM': '동대문구',
    'SIG_ENG_NM': 'Dongdaemun-gu',
    'ESRI_PK': 2.0,
    'LAT': '37.5838012',
    'LNG': '127.0507003'},
   {'OBJECTID': 4.0,
    'SIG_CD': '11590',
    'SIG_KOR_NM': '동작구',
    'SIG_ENG_NM': 'Dongjak-gu',
    'ESRI_PK': 3.0,
    'LAT': '37.4965037',
    'LNG': '126.9443073'},
   {'OBJECTID': 5.0,
    'SIG_CD': '11545',
    'SIG_KOR_NM': '금천구',
    'SIG_ENG_NM': 'Geumcheon-gu',
    'ESRI_PK': 4.0,
    'LAT': '37.4600969',
    'LNG': '126.9001546'},
   {'OBJECTID': 6.0,
    'SIG_CD': '11530',
    'SIG_KOR_NM': '구로구',
    'SIG_ENG_NM': 'Guro-gu',
    'ESRI_PK': 5.0,
    'LAT': '37.4954856',
    'LNG': '126.858121'},
   {'OBJECTID': 7.0,
    'SIG_CD': '11110',
    'SIG_KOR_NM': '종로구',
    'SIG_ENG_NM': 'Jongno-gu',
    'ESRI_PK': 6.0,
    'LAT': '37.5990998',
    'LNG': '126.9861493'},
   {'OBJECTID': 8.0,
    'SIG_CD': '11305',
    'SIG_KOR_NM': '강북구',
    'SIG_ENG_NM': 'Gangbuk-gu',
    'ESRI_PK': 7.0,
    'LAT': '37.6469954',
    'LNG': '127.0147158'},
   {'OBJECTID': 9.0,
    'SIG_CD': '11260',
    'SIG_KOR_NM': '중랑구',
    'SIG_ENG_NM': 'Jungnang-gu',
    'ESRI_PK': 8.0,
    'LAT': '37.5953795',
    'LNG': '127.0939669'},
   {'OBJECTID': 10.0,
    'SIG_CD': '11680',
    'SIG_KOR_NM': '강남구',
    'SIG_ENG_NM': 'Gangnam-gu',
    'ESRI_PK': 9.0,
    'LAT': '37.4959854',
    'LNG': '127.0664091'},
   {'OBJECTID': 11.0,
    'SIG_CD': '11500',
    'SIG_KOR_NM': '강서구',
    'SIG_ENG_NM': 'Gangseo-gu',
    'ESRI_PK': 10.0,
    'LAT': '37.5657617',
    'LNG': '126.8226561'},
   {'OBJECTID': 12.0,
    'SIG_CD': '11140',
    'SIG_KOR_NM': '중구',
    'SIG_ENG_NM': 'Jung-gu',
    'ESRI_PK': 11.0,
    'LAT': '37.5579452',
    'LNG': '126.9941904'},
   {'OBJECTID': 13.0,
    'SIG_CD': '11740',
    'SIG_KOR_NM': '강동구',
    'SIG_ENG_NM': 'Gangdong-gu',
    'ESRI_PK': 12.0,
    'LAT': '37.5492077',
    'LNG': '127.1464824'},
   {'OBJECTID': 14.0,
    'SIG_CD': '11215',
    'SIG_KOR_NM': '광진구',
    'SIG_ENG_NM': 'Gwangjin-gu',
    'ESRI_PK': 13.0,
    'LAT': '37.5481445',
    'LNG': '127.0857528'},
   {'OBJECTID': 15.0,
    'SIG_CD': '11440',
    'SIG_KOR_NM': '마포구',
    'SIG_ENG_NM': 'Mapo-gu',
    'ESRI_PK': 14.0,
    'LAT': '37.5622906',
    'LNG': '126.9087803'},
   {'OBJECTID': 16.0,
    'SIG_CD': '11650',
    'SIG_KOR_NM': '서초구',
    'SIG_ENG_NM': 'Seocho-gu',
    'ESRI_PK': 16.0,
    'LAT': '37.4769528',
    'LNG': '127.0378103'},
   {'OBJECTID': 17.0,
    'SIG_CD': '11290',
    'SIG_KOR_NM': '성북구',
    'SIG_ENG_NM': 'Seongbuk-gu',
    'ESRI_PK': 17.0,
    'LAT': '37.606991',
    'LNG': '127.0232185'},
   {'OBJECTID': 18.0,
    'SIG_CD': '11350',
    'SIG_KOR_NM': '노원구',
    'SIG_ENG_NM': 'Nowon-gu',
    'ESRI_PK': 18.0,
    'LAT': '37.655264',
    'LNG': '127.0771201'},
   {'OBJECTID': 19.0,
    'SIG_CD': '11710',
    'SIG_KOR_NM': '송파구',
    'SIG_ENG_NM': 'Songpa-gu',
    'ESRI_PK': 19.0,
    'LAT': '37.5048534',
    'LNG': '127.1144822'},
   {'OBJECTID': 20.0,
    'SIG_CD': '11410',
    'SIG_KOR_NM': '서대문구',
    'SIG_ENG_NM': 'Seodaemun-gu',
    'ESRI_PK': 21.0,
    'LAT': '37.5820369',
    'LNG': '126.9356665'},
   {'OBJECTID': 21.0,
    'SIG_CD': '11470',
    'SIG_KOR_NM': '양천구',
    'SIG_ENG_NM': 'Yangcheon-gu',
    'ESRI_PK': 22.0,
    'LAT': '37.5270616',
    'LNG': '126.8561534'},
   {'OBJECTID': 22.0,
    'SIG_CD': '11560',
    'SIG_KOR_NM': '영등포구',
    'SIG_ENG_NM': 'Yeongdeungpo-gu',
    'ESRI_PK': 23.0,
    'LAT': '37.520641',
    'LNG': '126.9139242'},
   {'OBJECTID': 23.0,
    'SIG_CD': '11620',
    'SIG_KOR_NM': '관악구',
    'SIG_ENG_NM': 'Gwanak-gu',
    'ESRI_PK': 15.0,
    'LAT': '37.4653993',
    'LNG': '126.9438071'},
   {'OBJECTID': 24.0,
    'SIG_CD': '11200',
    'SIG_KOR_NM': '성동구',
    'SIG_ENG_NM': 'Seongdong-gu',
    'ESRI_PK': 20.0,
    'LAT': '37.5506753',
    'LNG': '127.0409622'},
   {'OBJECTID': 25.0,
    'SIG_CD': '11170',
    'SIG_KOR_NM': '용산구',
    'SIG_ENG_NM': 'Yongsan-gu',
    'ESRI_PK': 24.0,
    'LAT': '37.5311008',
    'LNG': '126.9810742'}]}}

In [5]:
# 예제 6-17  시군구 목록 결과 딕셔너리 데이터의 값 가져오기
result_data = result_dict['SdeTlSccoSigW']

print(result_data['list_total_count'])
print(result_data['RESULT'])
print(result_data['row'][0])

25
{'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}
{'OBJECTID': 1.0, 'SIG_CD': '11320', 'SIG_KOR_NM': '도봉구', 'SIG_ENG_NM': 'Dobong-gu', 'ESRI_PK': 0.0, 'LAT': '37.6658609', 'LNG': '127.0317674'}

In [6]:
# 예제 6-18 결과 데이터를 pandas의 데이터프레임으로 변환
data_list = result_data['row']
sample_df = pd.DataFrame(data_list)
sample_df.head()

   OBJECTID SIG_CD SIG_KOR_NM     SIG_ENG_NM  ESRI_PK         LAT          LNG
0       1.0  11320        도봉구      Dobong-gu      0.0  37.6658609  127.0317674
1       2.0  11380        은평구   Eunpyeong-gu      1.0  37.6176125  126.9227004
2       3.0  11230       동대문구  Dongdaemun-gu      2.0  37.5838012  127.0507003
3       4.0  11590        동작구     Dongjak-gu      3.0  37.4965037  126.9443073
4       5.0  11545        금천구   Geumcheon-gu      4.0  37.4600969  126.9001546

In [7]:
# 예제 6-19  서울열린데이터광장 OPEN API 호출을 위한 공통 함수
# 서울열린데이터광장 API 호출 키
# SEOUL_API_AUTH_KEY = '734*************************'
# 서울열린데이터광장 OPEN API호출 공통 함수
def seoul_open_api_data(url, service):
    data_list = None
    try:
        result_dict = requests.get(url).json()
        result_data = result_dict[service]
        code = result_data['RESULT']['CODE']
        if code == 'INFO-000':
            data_list = result_data['row']
    except:
        pass
    return data_list

In [8]:
# 예제 6-20 공통 함수를 이용해 서울시 행정구역 시군구 OPEN API 호출하기
sgg_url = 'http://openapi.seoul.go.kr:8088/{}/json/SdeTlSccoSigW/1/25'.format(SEOUL_API_AUTH_KEY)
sgg_data_list = seoul_open_api_data(url, 'SdeTlSccoSigW')
sgg_data_list[0]

{'OBJECTID': 1.0,
 'SIG_CD': '11320',
 'SIG_KOR_NM': '도봉구',
 'SIG_ENG_NM': 'Dobong-gu',
 'ESRI_PK': 0.0,
 'LAT': '37.6658609',
 'LNG': '127.0317674'}

In [9]:
# 예제 6-21  결과 데이터를 pandas의 데이터프레임으로 변환
columns = ['SIG_CD','SIG_KOR_NM','LAT','LNG']
sgg_df = pd.DataFrame(data=sgg_data_list, columns=columns)
sgg_df.head()

  SIG_CD SIG_KOR_NM         LAT          LNG
0  11320        도봉구  37.6658609  127.0317674
1  11380        은평구  37.6176125  126.9227004
2  11230       동대문구  37.5838012  127.0507003
3  11590        동작구  37.4965037  126.9443073
4  11545        금천구  37.4600969  126.9001546

In [10]:
# 예제 6-22  데이터프레임의 칼럼명 변경
sgg_df.columns = ['시군구코드','시군구명','위도','경도']
sgg_df.head()

   시군구코드  시군구명          위도           경도
0  11320   도봉구  37.6658609  127.0317674
1  11380   은평구  37.6176125  126.9227004
2  11230  동대문구  37.5838012  127.0507003
3  11590   동작구  37.4965037  126.9443073
4  11545   금천구  37.4600969  126.9001546

In [11]:
# 예제 6-23  데이터프레임의 요약 정보 확인
sgg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구코드   25 non-null     object
 1   시군구명    25 non-null     object
 2   위도      25 non-null     object
 3   경도      25 non-null     object
dtypes: object(4)
memory usage: 928.0+ bytes

In [13]:
# 예제 6-24  엑셀로 저장
sgg_df.to_excel('./files/seoul_sgg_list.xlsx', index=False)

In [14]:
# 예제 6-25 서울시 구별 주민등록인구통계 데이터 가져오기
pop_url = 'http://openapi.seoul.go.kr:8088/{}/json/octastatapi419/1/26/'.format(SEOUL_API_AUTH_KEY)
pop_data_list = seoul_open_api_data(pop_url, 'octastatapi419')

sgg_pop_df = pd.DataFrame(data=pop_data_list)

In [15]:
# 예제 6-26 서울시 시군구 인구 데이터 살펴보기
sgg_pop_df.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
0,﻿2010.1-4,합계,"4,121,193","10,464,171","5,181,117","5,283,054","10,208,670","5,059,504","5,149,166","255,501","121,613","133,888",2.48,"956,414"
1,2010.1-4,종로구,"74,300","177,023","88,225","88,798","168,158","84,088","84,070","8,865","4,137","4,728",2.26,"20,925"
2,2010.1-4,중구,"58,472","138,102","69,175","68,927","129,786","65,216","64,570","8,316","3,959","4,357",2.22,"16,208"
3,2010.1-4,용산구,"107,407","250,844","123,295","127,549","238,366","116,764","121,602","12,478","6,531","5,947",2.22,"28,436"
4,2010.1-4,성동구,"126,942","316,113","158,228","157,885","308,144","154,389","153,755","7,969","3,839","4,130",2.43,"30,704"

In [16]:
# 예제 6-27  서울시 구별 주민등록인구 데이터프레임의 요약 정보 확인
sgg_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  26 non-null     object
 1   JACHIGU                26 non-null     object
 2   SEDAE                  26 non-null     object
 3   GYE_1                  26 non-null     object
 4   NAMJA_1                26 non-null     object
 5   YEOJA_1                26 non-null     object
 6   GYE_2                  26 non-null     object
 7   NAMJA_2                26 non-null     object
 8   YEOJA_2                26 non-null     object
 9   GYE_3                  26 non-null     object
 10  NAMJA_3                26 non-null     object
 11  YEOJA_3                26 non-null     object
 12  SEDAEDANGINGU          26 non-null     object
 13  N_65SEISANGGORYEONGJA  26 non-null     object
dtypes: object(14)
memory usage: 3.0+ KB

In [17]:
# 예제 6-28 필요없는 데이터 제거
condition = sgg_pop_df['JACHIGU'] != '합계'
sgg_pop_df_selected = sgg_pop_df[condition]
sgg_pop_df_selected.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
1,2010.1-4,종로구,"74,300","177,023","88,225","88,798","168,158","84,088","84,070","8,865","4,137","4,728",2.26,"20,925"
2,2010.1-4,중구,"58,472","138,102","69,175","68,927","129,786","65,216","64,570","8,316","3,959","4,357",2.22,"16,208"
3,2010.1-4,용산구,"107,407","250,844","123,295","127,549","238,366","116,764","121,602","12,478","6,531","5,947",2.22,"28,436"
4,2010.1-4,성동구,"126,942","316,113","158,228","157,885","308,144","154,389","153,755","7,969","3,839","4,130",2.43,"30,704"
5,2010.1-4,광진구,"156,264","386,292","190,823","195,469","373,586","185,087","188,499","12,706","5,736","6,970",2.39,"30,765"

In [18]:
# 예제 6-29 서울시 구별 주민등록인구 데이터프레임의 요약 정보 확인
sgg_pop_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  25 non-null     object
 1   JACHIGU                25 non-null     object
 2   SEDAE                  25 non-null     object
 3   GYE_1                  25 non-null     object
 4   NAMJA_1                25 non-null     object
 5   YEOJA_1                25 non-null     object
 6   GYE_2                  25 non-null     object
 7   NAMJA_2                25 non-null     object
 8   YEOJA_2                25 non-null     object
 9   GYE_3                  25 non-null     object
 10  NAMJA_3                25 non-null     object
 11  YEOJA_3                25 non-null     object
 12  SEDAEDANGINGU          25 non-null     object
 13  N_65SEISANGGORYEONGJA  25 non-null     object
dtypes: object(14)
memory usage: 2.9+ KB

In [19]:
# 예제 6-30  분석에 필요한 칼럼 선택
columns = ['JACHIGU', 'GYE_1']
sgg_pop_df_final = sgg_pop_df_selected[columns]

In [20]:
# 예제 6-31 선택된 칼럼 확인
sgg_pop_df_final.head()

  JACHIGU    GYE_1
1     종로구  177,023
2      중구  138,102
3     용산구  250,844
4     성동구  316,113
5     광진구  386,292

In [ ]:
# 예제 6-32 데이터프레임의 칼럼명 변경
sgg_pop_df_final.columns = ['시군구명', '주민등록인구']
sgg_pop_df_final.info()
sgg_pop_df_final.head()

In [ ]:
# 예제 6-33 엑셀로 저장
sgg_pop_df_final.to_excel('./files/sgg_pop.xlsx', index=False)

In [ ]:
# 예제 6-34 공통 함수를 이용한 서울시 동별 사업체현황 통계 API 호출
biz_url = 'http://openapi.seoul.go.kr:8088/{}/json/octastatapi104/1/450/'.format(SEOUL_API_AUTH_KEY)
biz_data_list = seoul_open_api_data(biz_url, 'octastatapi104')

sgg_biz_df = pd.DataFrame(biz_data_list)
sgg_biz_df.head(10)

In [ ]:
# 예제 6-35  시군구별 사업체 현황 데이터 추출
condition = sgg_biz_df['DONG'] == '소계'
sgg_biz_df_selected = sgg_biz_df[condition]
sgg_biz_df_selected.head(10)

In [ ]:
# 예제 6-36 필요없는 칼럼 제거
columns = ['JACHIGU', 'GYE', 'SAEOPCHESU_1']
sgg_biz_df_final = sgg_biz_df_selected [columns]
sgg_biz_df_final.columns = ['시군구명', '종사자수','사업체수']
sgg_biz_df_final.head()

In [ ]:
# 예제 6-37  데이터프레임의 인덱스 초기화
sgg_biz_df_final = sgg_biz_df_final.reset_index(drop=True)
sgg_biz_df_final.head()

In [ ]:
# 예제 6-38  엑셀로 저장
sgg_biz_df_final.to_excel('./files/sgg_biz.xlsx', index=False)